/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import '~bootstrap/scss/bootstrap.scss';

html {
  min-height: 100vh;
  font-size: 20px;
}

body {
  font-family: 'Pacifico', cursive;
  min-height: 100vh;
}
